body{
    background-color: black;
    color: #F6F6F6;
    height: 100vh;
}
a {
    background-color: green;
    color: white;

}

header {
    background-color: lightblue;
    color: white;

}
p {

    color: darkgray;

}
footer {
    background-color: gray;
    color: white;

}
.destaqueStrong{
    color: #22d4fd;
}

*{
    margin: 0;
    padding: 0;
}
.container{
    margin:10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containe__conteudo{
    width: 615px;
    
}

.containe__conteudo__titulo{
    font-size: 36px;
}
.containe__conteudo__paragrafo{
    font-size: 24px;
}
